*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(67, 67, 67);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(13, 14, 14);
    line-height: 1.6;
}